@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-display: swap;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/plus-jakarta-sans-v8-latin-regular.woff2') format('woff2');
  }
  
  @font-face {
    font-display: swap;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/plus-jakarta-sans-v8-latin-500.woff2') format('woff2');
  }
  
  @font-face {
    font-display: swap;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/plus-jakarta-sans-v8-latin-600.woff2') format('woff2');
  }
  
  @font-face {
    font-display: swap;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/plus-jakarta-sans-v8-latin-700.woff2') format('woff2');
  }
  