@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: 'Primary';
  src: url('/fonts/InterVariable.woff2') format('woff2');
}

.headline {
  @apply text-4xl md:text-6xl tracking-tight;
}

.subheadline {
  @apply text-2xl md:text-4xl tracking-tight;
}

.title {
  @apply text-lg md:text-2xl;
}

.subtitle {
  @apply text-base font-semibold
}

.wrapper {
  @apply max-w-screen-lg mx-auto px-4
}

.wrapper-text {
  @apply max-w-screen-sm mx-auto px-4
}

.button {
  @apply transition-colors inline-block text-sm py-3 px-5 border border-gray-950 bg-gray-950 font-medium text-white rounded-full hover:bg-gray-800 text-center
}

.button-outline {
  @apply transition-colors inline-block text-sm py-3 px-5 border border-gray-300 font-medium text-gray-950 rounded-full hover:bg-gray-100 text-center
}

.button-text {
  @apply transition-colors inline-block text-sm py-3 px-5 font-medium text-gray-950 rounded-full hover:bg-gray-200 underline text-center
}

.section {
  @apply py-8 md:py-16
}

.card {
  @apply border border-gray-200 bg-white p-4 md:p-6 rounded-3xl
}

.card-no-padding {
  @apply border border-gray-200 bg-white rounded-3xl
}

.grid-preset-2 {
  @apply grid grid-cols-1 md:grid-cols-2 gap-6;
}

.grid-preset-3 {
  @apply grid grid-cols-1 md:grid-cols-3 gap-6;
}

.grid-preset-4 {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  width: auto !important;
}