<!DOCTYPE html>
<html lang="en" class="scroll-smooth selection:bg-black selection:text-white no-touchevents">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halfmage | Web design & Development</title>
    <meta name="description" content="We are a digital full-service partner driven by passion for modern design and cutting-edge technology we work with companies and startups to scale their design-systems and website performance.">

    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <meta name="theme-color" content="#fff">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.halfmage.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Halfmage | Web design & Development">
    <meta property="og:description" content="We are a digital full-service partner driven by passion for modern design and cutting-edge technology we work with companies and startups to scale their design-systems and website performance.">
    <meta property="og:image" content="/images/social.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@halfmage" />
    <meta name="twitter:title" content="Halfmage | Web design & Development">
    <meta name="twitter:description" content="We are a digital full-service partner driven by passion for modern design and cutting-edge technology we work with companies and startups to scale their design-systems and website performance.">
    <meta name="twitter:image" content="/images/social.png">

    <link rel="stylesheet" href="/style.css?v={% version %}" />

    <link rel="stylesheet" href="/swiper.min.css?v={% version %}" />
</head>

<body class="font-sans antialiased overflow-x-hidden bg-gray-50">

    {% include "header.html" %}

    {{ content | safe }}

    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>


    <script src="/swiper.min.js?v={% version %}"></script>
    <script>
        var swiper = new Swiper(".swiper", {
            slidesPerView: "auto",
            spaceBetween: 20,
            grabCursor: true,
            freeMode: true,
        });
    </script>

</body>
</html>